@import "./common";

#nav {
  padding: 1em 3em;
  position: fixed;
  width: 100%;
  .brand-container, .nav-button-container{
    width: 50%;
    display: inline-block;
  }
  .nav-button-container{
    text-align: right;
    .menu-toggle {
      border: none;
      padding: 2px 8px;
      cursor: pointer;
      background: transparent;
      &:focus {
        outline: none;
        border: none;
      }
      .toggle-icon {
        color: #000;
        font-size: 1.3em;
      }
    }
  }
}
#info {
  height: 80vh;
  background: url('../img/bg.jpg') no-repeat;
  background-size: cover;
  .container-fixed {
    display: table;
    height: 500px;
    width: 100%;
    .info-container {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      h5, h1, p {
        font-family: 'Archivo Narrow', sans-serif;
      }
      h5 {
        font-size: 1em;
        letter-spacing: 2px;
      }
      h1 {
        text-transform: uppercase;
        font-size: 5em;
        letter-spacing: 2px;
      }
      .year {
        border: 1px solid #ddd;
        padding: 1px 4px;
      }
      p {
        margin-top: 1em;
        color: #333;
      }
    }
  }
}
#news {
  background: #fff;
  padding: 2em 0;
  .news-container {
    text-align: center;
    display: table;
    margin: 0 auto;
    width: 100%;
    
  }
}
#insight {
  .insight-container {
    .row {
      margin-top: 2em;
      margin-bottom: 5em;
      .img-container {
        width: 100%;
        .insight-cover {
          width: 100%;
        }
      }
      .insight-title {
        text-align: center;
        font-family: 'Archivo Narrow', sans-serif;
        margin: 2em auto 1em;
        font-size: 1.3em;
        font-weight: bold;
        text-transform: uppercase;
        display: block;
        width: 100%;
      }
      .insight-paragraph {
        display: block;
        text-align: justify;
        color: #595959;
        letter-spacing: 2px;
        margin: 0 auto;
        width: 65%;
      }
    }
  }
}
#tileImage {
  #columns {
    column-width: 300px;
  }
}

#footer {
  background: rgb(248, 243, 243);
  .footer-container {
    display: table;
    width: 100%;
    padding: 1em 0;
    .brand-container {
      display: table-cell;
      width: 50%;
      vertical-align: middle;
    }
    .nav-button-container {
      display: table-cell;
      width: 50%;
      vertical-align: middle;
      text-align: right;
      ul {
        margin: 0;
      }
      ul li {
        display: inline-block;
        margin: 0 1em;
        a {
          color: #000;
          &:hover {
            border: none;
          }
        }
      }
    }
  }
  
}


